@font-face {
  font-family: "winky";
  src: url("./assets/fonts/Nunito-Medium.ttf");
}

@import "tailwindcss";

.special {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    /* سفید خالص */ #ffe7e5 20%,
    /* صورتی خیلی روشن */ #ffd5ba 30%,
    /* هلویی ملایم */ #faccad 80%,
    /* نارنجی هلویی خیلی نرم */ #faebdd 90%,
    /* نارنجی خیلی روشن و کمرنگ */ #fff9f6 100%
      /* سفید نزدیک به هلویی خیلی روشن */
  );
  background-repeat: no-repeat;
}

.animation-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}
.animation-fadeOut {
  animation: fadeOut 0.3s ease-out forwards;
}
@theme {
  --font-winky: "winky", "sans-serif";
  --breakpoint-xs: 500px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

